@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: #000814;
    color: #F6F6F6;
}
.cabecalho{
    padding: 2% 0% 0% 15%;
}
.cabecalho__menu{
    display: flex;
    gap: 50px;

}
.cabecalho__menu__link{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #F6F6F6;
    text-decoration: none;
}
.foto__perfil{
    height: 500px;
}
.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.titulo-destaque{
    color: #FFD60A;
}
.apresentacao__conteudo__titulo{
    font-family: 'Krona One', sans-serif;
    font-size: 36px;
}
.apresentacao__conteudo__texto{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}
.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.apresentacao__links__subtitulo{
    font-family: 'Krona One', sans-serif;
    font-weight: 400;
    font-size: 24px;

}
.apresentacao__links__link{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 378px;
    /* background-color: #FFC300; */
    border: 2px solid #FFC300;
    text-align: center;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: #f6f6f6;
    font-family: 'Montserrat', sans-serif;
}
.apresentacao__links__link:hover{
    background-color: #001d3d;
}
.rodape{
    padding: 24px;
    color: #000814;
    background-color:  #FFD60A;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 24px;
}
.texto{
    padding: 2% 0% 0% 15%;
}
.curriculo{
    padding: 8% 15%;
    display: flex;
    justify-content: space-between;
}
.conteudo__curriculo{
    width: 615px;
    gap: 40px;
    display: flex;
    flex-direction: column;
}
.conteudo__curriculo__titulo , .conteudo__estudos__titulo{
    font-size: 36px;
    font-family: 'Krona One', sans-serif;
    color: #FFC300;
}
.conteudo__curriculo__paragrafo, .conteudo__estudos__p {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
   
}



